body{
    display: grid;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-columns: 25% 50% 25%;
    height: 100vh;
}

header{
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
    margin: auto;
}

#filterBox{
    display: block;
    grid-row: 2;
    grid-column: 2;
    margin: auto;
}

#filterBox img{
    height: 70px;
    width: auto;
    vertical-align: bottom;
}

#content{
    grid-row: 3;
    grid-column: 2;
    margin: auto;
    background-color: lightseagreen;
    border-style: dashed;
    vertical-align: top;
}

#title{
    grid-row: 1;
    grid-column: 3;
    margin: auto;
}

.footer {
    grid-row: 4;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #283046;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}

#noFilter i, #favouriteFilter i{
    color: darkgray;
    background-color: darkblue;
    border-radius: 100%;
}

img{
    height: 50px;
    width: auto;
    background-color: darkblue;
    border-radius: 100%;
}

.nav-icon{
    height: 50px;
    width: auto;
    background-color: transparent;
}

.material-icons.md-48{
    font-size: 72px;
    display: inline;
}

h3{
    text-align: center;
    display: inline;
}

.activityBox a{
    text-decoration: none;
    color: black;
}

.activityBox{
    border-style: solid;
    background-color: lightskyblue;
}

.favouriteIcon img{
    height: 10%;
    width: 10%;
}

button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}