body {
    background-color: #52aefc;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}

header {
    display: grid;
}

#title {
    font-family: 'sans';
    font-size: 60px;
    margin: 40px auto 20px auto;
    color: #f7f3d4;
    background-color: #3333a7;
    width: fit-content;
    padding: 0px 10px;
    text-align: center;
    justify-self: center;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    border-radius: 10px;
}

.material-icons.md-48 {
    font-size: 100px;
}
#timerLink {
    text-decoration: none;
    color: #f7f3d4;
}
#timerLinkIcon{
    margin-bottom: auto;
    text-align: center;
}

#set-timer {
    font-family: 'sans';
    font-size: 25px;
    text-align: center;
    background-color: #5c88bb;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-color: #f0e662;
    color: #f7f3d4;
}

#timer {
    background-color: #5c88bb;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    border-radius: 200%;
    border-bottom-style: solid;
    border-bottom-color: #f0e662;
    border-width: 5px;
    margin: auto;
    height: 200px;
    width: 200px;
}
#timer:hover {
    background-color: #375e8b;
}
#timer:active {
    background-color: #3333a7;
}

.clockContainer {
    margin: auto;
}
#secondClock, #minuteClock {
    margin: auto;
}
#column {
    font-size: 50px;
    color: #f7f3d4;
}
#minutes, #seconds {
    text-align: center;
    font-size: 50px;
    color: #f7f3d4;
}

#start {
    margin: 20px auto 0px auto;
    border-style: none;
    background-color: #5c88bb;
    color: #f7f3d4;
    font-size: 25px;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-color: #f0e662;
    border-width: 3px;
}
#start:hover {
    background-color: #375e8b;
}
#start:active {
    background-color: #3333a7;
}

#description {
    font-family: 'sans';
    font-size: 25px;
    padding: 20px;
    color: #f7f3d4;
    margin: auto 50px;
    margin-top: 20px;
    background-color: #5c88bb;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-color: #f0e662;
    border-width: 3px;
}

#break {
    height: 120px;
}

/* Navbar */
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3333a7;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
.nav-icon{
    height: 50px;
    width: auto;
    background-color: transparent;
}