body{
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 25% 50% 25%;
}

header{
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
    margin: auto;
}

#content{
    grid-row: 2;
    grid-column: 2;
    margin: auto;
    background-color: lightseagreen;
    border-style: dashed;
}

#title{
    grid-row: 1;
    grid-column: 3;
    margin: auto;
}

footer{
    grid-row: 3;
    margin: auto;
    text-align: center;
}

.material-icons.md-48{
    font-size: 72px;
    display: inline;
}

a .material-icons.md-48{
    font-size: 50px;
    background-color: lightskyblue;
    border-radius: 100%;
}

img{
    height: 25%;
    width: 25%;
}

h3{
    text-align: center;
}

.activityBox a{
    text-decoration: none;
    color: black;
}

.activityBox{
    border-style: solid;
    background-color: lightskyblue;
}