body{
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: #52aefc;
    margin: 0px;
    min-height: 750px;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}

header{
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    grid-row: 1;
}

#content{
    grid-row: 2;
    margin: auto;
    background-color: wheat;
}

#title{
    grid-row: 1;
    grid-column: 3;
    margin: auto;
}

#activityIcon{
    background-color: cadetblue;
    margin: auto;
    border-radius: 100%;
    grid-row: 1;
    grid-column: 4;
}

#timer{
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 43% 14% 43%;
    border-radius: 200%;
    margin: auto;
    height: 100px;
    width: 200px;
    grid-row: 1;
    grid-column: 2;
}

.clockContainer{
    margin: auto;
}

#minuteClock{
    margin: auto;
    grid-column: 1;
}

#column{
    grid-column: 2;
}

#secondClock{
    margin: auto;
    grid-column: 3;
}

#minutes, #seconds{
    text-align: center;
    font-size: x-large;
    background-color: white;
}

footer{
    grid-row: 3;
    margin: auto;
    text-align: center;
}

.material-icons.md-48{
    font-size: 72px;
}

img{
    height: 25%;
    width: 25%;
}

#timerLink{
    text-decoration: none;
    color:darkgray;
}

#timerLinkIcon{
    text-align: center;
}

.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #283046;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
.nav-icon{
    height: 50px;
    width: auto;
}

#start{
    margin: auto;
}