body{
    background-color: #52aefc;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}

#content {
    display: grid;
    grid-template-areas: 
    'title'
    'filters'
    'activities';
    margin: 0px 50px;
}

#title{
    grid-area: title;
    font-family: 'sans';
    font-size: 60px;
    margin: 40px;
    color: #f7f3d4;
    background-color: #3333a7;
    width: 250px;
    text-align: center;
    justify-self: center;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    border-radius: 10px;
}

#filterBox{
    grid-area: filters;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 50px;
    grid-gap: 7%;
}

button{
    background-color: transparent;
    border: none;
}

#meditate-image, #physical-image {
    height: 65px;
}
#mentalFilter, #physicalFilter {
    height: 80px;
    width: 80px;
    background-color: #5c88bb;
    border-radius: 100%;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    margin-left: 15%;
}
#noFilter, #favouriteFilter{
    height: 80px;
    width: 80px;
    padding: 0px 5px;
    background-color: #5c88bb;
    border-radius: 100%;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    margin-left: 15%;
}
.material-icons.md-48{
    line-height: 80px;
    color: #f7f3d4;
    font-size: 70px;
}

#activitiesBox {
    grid-area: activities;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    margin: auto;
}

.activityBox{
    background-color: #5c88bb;
    border-radius: 10px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    display: grid;
}
.activityImage {
    height: 70px;
    margin: 20px;
}
.activityBox a{
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #f0e662;
}
.activityDescription {
    font-size: 15px;
    color: #f7f3d4;
    text-align: justify;
    margin: 0px 25px;
    margin-bottom: 30px;
}
.favouriteIcon {
    display: inline;
}
.favouriteIcon > .material-icons.md-48 {
    font-size: 50px;
}

#break {
    height: 120px;
}

@media only screen and (max-width: 1000px) {
    #activitiesBox {
        grid-template-columns: 1fr;
        max-width: 70vw;
        margin: auto;
        grid-gap: 20px;
    }
}

/* Navbar */
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3333a7;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
.nav-icon{
    height: 50px;
    width: auto;
    background-color: transparent;
}