body{
    background-color: #52aefc;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}

#content {
    display: grid;
    grid-template-areas: 
    'title'
    'filters'
    'activities';
    margin: 0px 50px;
}

#title{
    grid-area: title;
    font-family: 'sans';
    font-size: 60px;
    margin: 40px;
    color: #f7f3d4;
    background-color: #3333a7;
    width: 250px;
    text-align: center;
    justify-self: center;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    border-radius: 10px;
}

#filterBox{
    grid-area: filters;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px auto 50px auto;
    grid-gap: 40px;
}

#meditate-image, #physical-image {
    height: 60px;
}
#mentalFilter, #physicalFilter {
    height: 80px;
    width: 80px;
    background-color: #5c88bb;
    border-radius: 100%;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
}
#noFilter i, #favouriteFilter i{
    height: 80px;
    width: 80px;
    background-color: #5c88bb;
    border-radius: 100%;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
}
.material-icons.md-48{
    line-height: 80px;
    color: #f7f3d4;
    font-size: 70px;
    margin: auto;
}

#activitiesBox {
    grid-area: activities;
    display: grid;
    grid-auto-rows: 175px;
    grid-gap: 10px;
}

h3{
    text-align: center;
    display: inline;
}
.activityImage {
    grid-area: image;
    display: block;
    height: 70px;
}
.activityBox{
    background-color: #5c88bb;
    border-radius: 10px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    display: grid;
    grid-template-areas: 'image link description';
}
.activityBox a{
    grid-area: link;
    display: block;
    text-decoration: none;
    color: #f0e662;
}
.activityDescription {
    grid-area: description;
    display: block;
    font-size: 15px;
    color: #f7f3d4;
    text-align: justify;
    margin: 0px 25px;
    margin-bottom: 30px;
}

.favouriteIcon img{
    height: 10%;
    width: 10%;
}

button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#break {
    height: 120px;
}

.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3333a7;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
.nav-icon{
    height: 50px;
    width: auto;
    background-color: transparent;
}