.body {
    background-color: #52aefc;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
    display: grid;
    grid-template-rows: auto auto auto;
}
#logo-name {
    color: #f7e061;
    border: #f7e061;
    border-style: solid;
    border-width: 3px;
    border-radius: 100px;
    background-color: #3333a7;
    padding: 30px 0px;
    font-size: 35px;
    max-width: 200px;
    max-height: 155px;
    display: block;
    margin: 0px auto;
    max-width: 150px;
    text-align: center;
    margin-top: 75px;
    font-family: 'sans';
}
#inspire-quote {
    padding: 20px 30px;
    font-size: 45px;
    color: #3333a7;
    display: block;
    margin: 0px auto;
    max-width: 700px;
    text-align: center;
    padding: 55px;
    min-height: 350px;
    font-family: 'sans';
}
.nav-icon{
    height: 50px;
    width: auto;
}
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #3333a7;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
#start-now {
    padding: 20px 10px;
    font-size: 40px;
    color: #f7e061;
    background-color: #3333a7;
    border: #f7e061;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    max-height: 110px;
    text-decoration: none;
    display: block;
    margin: 0px auto;
    max-width: 250px;
    text-align: center;
    font-family: 'sans';
}