.body {
    background-color: #52aefc;
    margin: 0px;
    min-height: 750px;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}
#logo-name {
    color: #f7e061;
    border: #f7e061;
    border-style: solid;
    border-width: 3px;
    background-color: #3333a7;
    padding: 25px 0px;
    font-size: 35px;
    max-width: 200px;
    display: block;
    margin: 0px auto;
    max-width: 150px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Comforter Brush', cursive;
}
#inspire-quote {
    padding: 20px 30px;
    font-size: 45px;
    color: #3333a7;
    display: block;
    margin: 0px auto;
    max-width: 700px;
    text-align: center;
    padding: 55px;
    min-height: 325px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-icon{
    height: 50px;
    width: auto;
}
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #3333a7;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
#start-now {
    padding: 20px 10px;
    font-size: 40px;
    color: #f7e061;
    background-color: #3333a7;
    border: #f7e061;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    display: block;
    margin: 0px auto;
    max-width: 250px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 700px) {
  }