.body {
    background-color: #99A1B7;
}
#content {
    margin: 0px;
    background: linear-gradient(to bottom, 
    #6E768C, #99A1B7);
}
#logo-name {
    color: #283046;
    padding: 20px;
}
#inspire-quote {
    padding: 0px 30px;
    font-size: 25px;
    color: #283046;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.nav-icon{
    height: 50px;
    width: auto;
}
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #283046;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}