#Journal-Title {
    text-align: center;
    font-family: 'Estonia', cursive;
    font-size: 75px;
    font-weight: bold;
}

#book-image {
    width: 100px;
    display: block;
    margin: 0px auto;
}

#background-Journal {
    background-color: #52aefc;
    margin: 0px;
    min-height: 750px;
    background: linear-gradient(to bottom,
            #52aefc, #f0e662);

}