#Journal-Title {
    text-align: center;
    font-family: 'Estonia', cursive;
    font-size: 75px;
    font-weight: bold;
}

#book-image {
    width: 100px;
    display: block;
    margin: 0px auto;
}

#background-Journal {
    background-color: #52aefc;
    margin: 0px;
    min-height: 750px;
    background: linear-gradient(to bottom,
            #52aefc, #f0e662);

}

.nav-icon{
    height: 50px;
    width: auto;
    background-color: transparent;
}

.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #283046;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}