body {
    background-color: #52aefc;
    min-height: 100vh;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
    display: grid;
    grid-template-rows: auto auto auto;
}

.container {
    margin: 50px;
    text-align: center;
    font-family: 'comic sans';
    font-weight: bold;
    color: #3333a7;
}

#welcome-message {
    font-size: 75px;
}
#login-message {
    font-size: 50px;
}

@media only screen and (max-width: 1000px) {
    #welcome-message {
        font-size: 60px;
    }
    #login-message {
        font-size: 35px;
    }
}