.nav-icon{
    height: 50px;
    width: auto;
}
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #283046;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}

body {
    background-color: #52aefc;
    margin: 0px;
    min-height: 750px;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}

#LogOut{
    text-decoration: none;
}

.material-icons.md-48{
    font-size: 72px;
    display: inline;
}