#content{
    display: grid;
    grid-template-rows: 10% 10% 50% 20% 10%;
    text-align: center;
}

#back{
    grid-row: 1;
    text-align: left;
}

#timer{
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 43% 14% 43%;
    border-radius: 200%;
    margin: auto;
    height: 300px;
    width: 300px;
    grid-row: 4;
}

input{
    height: 100px;
    width: 50px;
    font-size: 100px;
}

.clockContainer{
    margin: auto;
}

#minuteClock{
    margin: auto;
    grid-column: 1;
}

#column{
    grid-column: 2;
}

#secondClock{
    margin: auto;
    grid-column: 3;
}

#minutes, #seconds{
    text-align: center;
    width: 100%;
}

footer{
    grid-row: 3;
    margin: auto;
    text-align: center;
}

.title{
    border-style: solid;
    background-color: cadetblue;
    text-align: center;
    margin: auto;
}

#activityIcon{
    background-color: cadetblue;
    margin: auto;
    border-radius: 100%;
    grid-row: 2;
}

#subtitle{
    grid-row: 3;
}

.material-icons.md-48{
    font-size: 72px;
}

img{
    height: 25%;
    width: 25%;
}

#backLink{
    text-decoration: none;
    color:darkgray;
}