body { 
    background-color: #52aefc;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(to bottom, 
    #52aefc, #f0e662);
}

#title {
    font-family: 'sans';
    font-size: 60px;
    margin: 40px auto 20px auto;
    color: #f7f3d4;
    background-color: #3333a7;
    width: fit-content;
    padding: 0px 10px;
    text-align: center;
    justify-self: center;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    border-radius: 10px;
}

#content{
    display: grid;
    text-align: center;
}

#back{
    margin: 0px 30px;
    justify-self: left;
    height: 70px;
    width: 80px;
    padding: 0px 10px;
    background-color: #5c88bb;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    border-radius: 10px;
}
#back:hover {
    background-color: #375e8b;
}
#back:active {
    background-color: #3333a7;
}

#timer{
    background-color: #5c88bb;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    border-radius: 100%;
    margin: auto;
    height: 250px;
    width: 250px;
}

input{
    height: 100px;
    width: 100px;
    font-size: 100px;
}

.clockContainer{
    width: 60px;
    font-size: 30px;
    margin: auto;
}

#column{
    font-size: 50px;
}

#minutes, #seconds{
    text-align: center;
    width: 100%;
}

#button {
    justify-self: center;
    height: 80px;
    width: fit-content;
    padding: 0px 20px;
    color: #f7f3d4;
    font-family: 'sans';
    font-size: 40px;
    background-color: #5c88bb;
    border-style: none;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #f0e662;
    border-radius: 10px;
}
#button:hover {
    background-color: #375e8b;
}
#button:active {
    background-color: #3333a7;
}

#break {
    height: 120px;
}

/* Navbar */
.footer {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3333a7;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    grid-gap: 15%;
}
.nav-icon{
    height: 50px;
    width: auto;
    background-color: transparent;
}